<%= render 'partials/meny' %>
<article class="col-md-10 col-lg-10">

      <div class="row" id="infofield">
        <nav id="xl-infonav" class="hidden-xs hidden-sm">
          <h3 class="page">About</h3>
          <div id="searchfield"><img id="searchicon" src="/assets/searchicon.png">
          <h3 id="search">Search</h3></div>
        </nav>
          
        <nav id="xs-infonav" class="hidden-md hidden-lg">
          <img id="burgermeny" src="" alt="≡">
          <h3 class="page">About</h3>

          <div id="searchfield">
            <img id="searchicon" src="/assets/searchiconxs.png">
            <h3 id="search">Search</h3>
          </div>
        </nav>
      </div>

  <div>
    <h3 style="margin-left: 10px; ">Petter</h3>
    <p class="leftText">Laborum de summis, do arbitror philosophari. Admodum eram quorum fabulas esse,
      sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret,
      cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna
      fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur
      iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat
      magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident
      dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror
      philosophari. Admodum eram quorum fabulas esse,
    </p>

    <br><hr style="height: 5px; color: black;">

    <h3 class="col-md-offset-11">Liza</h3>
    <p class="rightText col-md-offset-7">
      sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret,
      cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna
      fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur
      iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat
      magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident
      dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror
      philosophari. Admodum eram quorum fabulas esse,
    </p>

    <br><hr style="height: 5px; color: black;">

    <!-- TODO: Fix text being eaten by the footer -->
    <p class="col-md-offset-2 col-md-8">
      sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret,
      cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna
      fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur
      iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat
      magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident
      dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror
      philosophari. Admodum eram quorum fabulas esse,
    </p>
  </div>
    <%= render 'partials/footer' %>
</article>