<article>
    <div class="container">
        <div class="row">
            <header>
            	<h1>HEADER</h1>
            </header>
        </div>

        <div class="row" id="infofield">
	        <nav id="infonav">
	        	<h3 class="page">You are on the Index-page</h3>
	        	<div class="search"><img src="/assets/searchicon.png"></div>
	        	<div class="search"><h3>Search</h3></div>
	        </nav>	
	    </div>

	    <div class="row" id="main">
	    	<p>Laborum de summis, do arbitror philosophari. Admodum eram quorum fabulas esse, 
               sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret, 
               cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna 
               fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur 
               iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat 
               magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident 
               dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror 
               philosophari. Admodum eram quorum fabulas esse,
            </p>    
            <p>
               sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret, 
               cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna 
               fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur 
               iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat 
               magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident 
               dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror 
               philosophari. Admodum eram quorum fabulas esse, 
            </p>   
            <p>
               sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret, 
               cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna 
               fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur 
               iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat 
               magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident 
               dolore litteris laboris. A ad legam nulla varias.Laborum de summis, do arbitror 
               philosophari. Admodum eram quorum fabulas esse, 
               sunt admodum iudicem, se elit cohaerescant, litteris aute tempor incurreret, 
               cupidatat eram consequat e ne o imitarentur, ad tamen amet quis mentitum, magna 
               fidelissimae iudicem fore expetendis. Eu appellat hic mentitum, quem e pariatur 
               iis sunt, te nisi aute nam excepteur sed ubi si culpa offendit. Excepteur fugiat 
               magna deserunt aliqua hic ubi in irure probant. Ita si duis fabulas. Proident 
               dolore litteris laboris. A ad legam nulla varias.
            </p>
	    </div>
	        
        <div class="row">
            <!-- Footer -->
            <footer>
                <h1>FOOTER</h1>
            </footer>      
        </div>      
    </div> 
</article>
        
</body>
</html>