<!-- #%= render 'partials/meny' %> -->
<h1>Profile for <%= current_user.email %></h1>
<div class="row" id="main">

  <img src="#"/>          <!-- A users profile picture -->

  <% if user_signed_in? %>
    <%= current_user.email %>
  <% end %>

  <!--#%= form_for(user) do |f| %>
      #%= f.text_field :password_field %>
      #%= f.label 'New Password' %>
      #%= f.text_field :password_field %>
      #%= f.label 'Confirm new password' %>
      #%= f.text_field :password_field %>
  #% end %>-->

<!--#%= render 'partials/footer' %> -->
</div>