<%= render "partials/meny" %>
<h1>Profile?</h1>
<div class="row" id="main">

  <img src="#"/>          <!-- A users profile picture -->

  <% if user_signed_in? %>
    <%= current_user.email %>
  <% end %>

  <!-- IMPORTANT!
        Below code contains in-line style that will override
        a dedicated stylesheet
        -->
  <div id="passwordForm" style="width: 20%;
                                margin-left: 100px;">
    <label>Old password</label>
    <input type="password"/>
    <label>New Password</label>
    <input type="password"/>
    <label>Confirm new password</label>
    <input type="password"/>
    <button>Submit</button>
  </div>

</div>
<%= render "partials/footer" %>