<article>
    <div class="container">
        <div class="row">
            <header>
            	<h1>HEADER</h1>
            </header>
        </div>

        <div class="row" id="infofield">
	        <nav id="infonav">
	        	<h3 class="page">You are on the New Post-page</h3>
	        	<div class="search"><img src="/assets/searchicon.png"></div>
	        	<div class="search"><h3>Search</h3></div>
	        </nav>	
	    </div>

	    <div class="row" id="main">
			<%= render 'form', post: @post %>

			<%= link_to 'Back', posts_path %>
	    </div>
	        
        <div class="row">
            <!-- Footer -->
            <footer>
                <h1>FOOTER</h1>
            </footer>      
        </div>      
    </div> 
</article>
        
</body>
</html>