<article>
    <div class="container">
        <%= render "partials/header" %>

        <div class="row" id="infofield">
            <nav id="infonav">
                <h3 class="page">You are on the New Post-page</h3>
                <div id="searchfield"><img id="searchicon" src="/assets/searchicon.png">
                <h3 id="search">Search</h3></div>
            </nav>  
        </div>

	    <div class="row" id="main">
			<%= render 'form', post: @post %>

			<%= link_to 'Back', posts_path %>
	    </div>
        <%= render "partials/footer" %>    
    </div> 
</article>