// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leftText{
  padding: 10px;
  width: 40%;
  text-align: left;
  //border: 1px solid crimson;
  position: relative;
}

.rightText{
  padding: 10px;
  width: 40%;
  text-align: right;
  //border: 1px solid crimson;
}

.mainCont{
  width: 100%;
}

#countrySwe{
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
  margin-bottom: 100px;
}

#countryTur{
  display: flex;
  justify-content: flex-start;
  margin-top: -150px;
  margin-bottom: 100px;
}

#countryCz{
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
  margin-bottom: 100px;
}

#countryRom{
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
  margin-bottom: 100px;
}

/*===================================================
=================_meny.html.erb======================
====================================================*/

.menyEntry{
  font-size: 30px;
}

.menyImage{
  float: left;
  display: block;
  margin: auto;
}

.publicmenu{
  margin-left: 40px;
}

.publicmenu:hover{
  transition: 1s;
}

.menyLink{
  display: flex;
}