<article>
    <div class="container">
        <%= render "partials/header" %>
        <div class="row" id="infofield">
	        <nav id="infonav">
	        	<h3 class="page">You are on the confirm email-page</h3>
                <div id="searchfield"><img id="searchicon" src="/assets/searchicon.png">
                <h3 id="search">Search</h3></div>
	        </nav>	
	    </div>

	    <div class="row" id="main">
	    	<p>Welcome <%= @email %>!</p>

			<p>You can confirm your account email through the link below:</p>

			<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
	    </div>
        <%= render "partials/footer" %>
    </div> 
</article>