<article>
    <div class="container">
        <div class="row">
            <header>
            	<h1>HEADER</h1>
            </header>
        </div>

        <div class="row" id="infofield">
	        <nav id="infonav">
	        	<h3 class="page">You are on the request of new password-page</h3>
	        	<div class="search"><img src="/assets/searchicon.png"></div>
	        	<div class="search"><h3>Search</h3></div>
	        </nav>	
	    </div>

	    <div class="row" id="main">
	    	<p>Hello <%= @resource.email %>!</p>

			<p>Someone has requested a link to change your password. You can do this through the link below.</p>

			<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

			<p>If you didn't request this, please ignore this email.</p>
			<p>Your password won't change until you access the link above and create a new one.</p>
	    </div>
	        
        <div class="row">
            <!-- Footer -->
            <footer>
                <h1>FOOTER</h1>
            </footer>      
        </div>      
    </div> 
</article>
        
</body>
</html>