<%= render "partials/meny" %>
<article class="col-md-10 col-lg-10">  

      <div class="row" id="infofield">
        <nav id="xl-infonav" class="hidden-xs hidden-sm">
        	<h3 class="page">Locked account</h3>
        	<div id="searchfield"><img id="searchicon" src="/assets/searchicon.png">
        	<h3 id="search">Search</h3></div>
        </nav>
          
        <nav id="xs-infonav" class="hidden-md hidden-lg">
          <img id="burgermeny" src="" alt="≡">
          <h3 class="page">Locked account</h3>

          <div id="searchfield">
            <img id="searchicon" src="/assets/searchicon.png" class="hidden-xs hidden-sm">
            <img id="searchicon" src="/assets/searchiconxs.png" class="hidden-md hidden-lg">
            <h3 id="search">Search</h3>
          </div>
        </nav>
      </div>

	    <div class="row" id="main">
	    	<p>Hello <%= @resource.email %>!</p>

			<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

			<p>Click the link below to unlock your account:</p>

			<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
	    </div>
        <%= render "partials/footer" %>
    </div> 
</article>