<!-- Footer -->
<footer>
	<div id="footleft">
  		<h3>About the page</h3>
  		<h3>Support</h3>
  		<h3>Contact us</h3>
	</div>
	<div id="footright">
  		<h3>To top</h3>
  		<h3>Follow the project on Instagram and Facebook</h3>
  	</div>
</footer>