<!-- Navigation menu -->
<aside class="hidden-xs hidden-sm col-md-2 col-lg-2">
    <img src="/assets/logga.png" id="logo"/>
    <nav>
        <ul class="nav">
            <li><img class="icons" src="assets/houseicon.png"><%= link_to "Home", root_path %></li>
            <li><img class="icons" src="assets/earthicon.png"><%= link_to "Countries", menu_countries_path %></li>
            <li><img class="icons" src=""><%= link_to "About", menu_about_path %></li>
            <li><img class="icons" src=""><%= link_to "ERASMUS Social",  posts_path %></li>
        </ul>
    </nav>
</aside>