<div>
    <nav>
        <h1>Erasmus Website</h1>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About",  landing_about_path %></li>
            <li><%= link_to "Projects", landing_project %></li>
            <li><%= link_to "Countries", landing_countries_path %></li>
        </ul>
    </nav>
</div>